.git
.gitignore
.env
.env.*
!.env.api.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
*.md
docs
.github
.vscode
.idea
